# Flask configuration
FLASK_APP=app.py
FLASK_ENV=development

# WooCommerce API credentials
CONSUMER_KEY=
CONSUMER_SECRET=

# Optional: WooCommerce store URL (default is https://www.pybit.es)
WC_URL=

# GCP (optional if your app uses Google Cloud Storage)
GCP_BUCKET_NAME=
